.bg-poutine{
	background-image: url("../img/background.png");
}

.success{
	background-color: #01DF01 !important;
}

.error{
	background-color: #FF0000 !important;
}

.bg-popup{
	font-size: 20px;
	font-family: verdana;
	color: red;
	background-image: url("../img/backgroundPopup.png");
}

.bg-panel{
	
}